:80 {
  @homepage host {$DOMAIN}
  handle @homepage {
    respond "hello world"
  }

  @vaultwarden host vaultwarden.{$DOMAIN}
  handle @vaultwarden {
    reverse_proxy /notifications/hub/negotiate  vaultwarden:80
    reverse_proxy /notifications/hub            vaultwarden:3012  # websockets
  }

  respond 404
}
